.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100.4vh;
  margin: -4px 0;
  background: linear-gradient(to bottom right, #de909e, #9cfff1);
}
.navbar {
  display: flex;
  justify-content: flex-start;
  background: #2a2a2a;
  color: white;
  width: 100%;
}

.nav-link {
  display: flex;
  margin: 1rem;
  color: rgb(175, 174, 174);
  text-decoration: none;
}

.active-link {
  color: white;
}

.navbar-logo-title {
  margin: 0.7rem;
}